In [5]:
import random
import pandas as pd
import numpy as np
df = pd.read_csv('./stepTwoData.csv', sep=',',header=0)
df.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap,Mean,normalize,Diff,Class
0,0,"Nov 07, 2017",7023.1000,7253.3200,7023.1000,7144.3800,"2,326,340,000","117,056,000,000",7083.7400,5.626076,NaN,False
1,1,"Nov 06, 2017",7213.8100,7435.4000,7178.1450,7275.8950,"3,111,900,000","123,379,000,000",7244.8525,5.770883,0.144808,False
2,2,"Nov 05, 2017",7404.5200,7617.4800,7333.1900,7407.4100,"2,380,410,000","123,388,000,000",7405.9650,5.915691,0.144808,True
3,3,"Nov 04, 2017",7246.0250,7539.3850,7168.0650,7307.5850,"2,483,800,000","119,376,000,000",7276.8050,5.799602,-0.116089,True
4,4,"Nov 03, 2017",7011.8975,7453.3575,6963.3925,7193.0425,"3,369,860,000","118,084,000,000",7102.4700,5.642910,-0.156692,True

In [6]:
from sklearn import preprocessing

In [7]:
df = df[:301]
for x in range(301):
    for y in range(2,8):
        df.iloc[x,y] += random.uniform(-10, 10)


df['Class'] = None #Creates a class analysis for the data
for y in range(len(df)-1):
    if df.loc[y+1,'Close'] < df.loc[y,'Close']:
        df.loc[y, 'Class'] = True
    else:
        df.loc[y, 'Class'] = False
        
df = df.drop(df.index[-1])
df.head()

y=df.iloc[:,-1].fillna(df.mean()).as_matrix()

x=df.iloc[:,2:8].fillna(df.mean()).as_matrix()

classify = LogisticRegression(penalty='l1',C=10.0)
classify.fit(x,y)
yhat=classify.predict(x)
percents.append(accuracy_score(y,yhat))
print accuracy_score(y,yhat)

TypeError: cannot concatenate 'str' and 'float' objects